{
    "env": {
        "browser": true,
        "es2020": true,
        "node": true
    },
    "extends": ["eslint:recommended", "prettier"],
    "plugins": ["no-only-tests", "prettier"],
    "parserOptions": {
        "sourceType": "module"
    },
    "settings": {},
    "rules": {
        "no-only-tests/no-only-tests": "error",
        "prettier/prettier": ["error"],
        "no-unused-vars": ["error", { "varsIgnorePattern": "^_" }],
        "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "^_" }]
    },
    "overrides": [
        {
            "files": ["*.ts"],
            "parserOptions": {
                "project": "packages/*/tsconfig.json",
                "EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
            },
            "extends": [
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking"
            ],
            "rules": {}
        }
    ]
}
